ghrun.json
[
    {
        "id": "ba3c85c8.653fa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c3d3abc.523c658",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "207dae44.9243b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "97785468.49ba18",
        "type": "ui_group",
        "name": "Sprinter Assistant System - Live Dashboard",
        "tab": "a60226b7.47f028",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e994d0d.9f4cb3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a60226b7.47f028",
        "type": "ui_tab",
        "name": "Ghozt Runner",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c80fe78.92056",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ff1c5845.0f5868",
        "type": "comment",
        "z": "c3d3abc.523c658",
        "name": "Arm motion - left",
        "info": "",
        "x": 280,
        "y": 760,
        "wires": []
    },
    {
        "id": "c0ce964b.e3a6a8",
        "type": "file",
        "z": "c3d3abc.523c658",
        "name": "",
        "filename": "D:\\Code lines of blackcat\\IOT\\MQTT\\saveloc\\Strike-Left.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1260,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "78c5485c.a8c1b8",
        "type": "csv",
        "z": "c3d3abc.523c658",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": true,
        "include_null_values": "",
        "x": 930,
        "y": 800,
        "wires": [
            [
                "c0ce964b.e3a6a8"
            ]
        ]
    },
    {
        "id": "2675913d.d5b0ce",
        "type": "join",
        "z": "c3d3abc.523c658",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 800,
        "wires": [
            [
                "78c5485c.a8c1b8"
            ]
        ]
    },
    {
        "id": "2a5e18ea.b37f98",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 880,
        "wires": [
            [
                "2675913d.d5b0ce"
            ]
        ]
    },
    {
        "id": "dd8a43a3.660e9",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 840,
        "wires": [
            [
                "2675913d.d5b0ce"
            ]
        ]
    },
    {
        "id": "236fafaa.53aec",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 800,
        "wires": [
            [
                "2675913d.d5b0ce"
            ]
        ]
    },
    {
        "id": "136ff9dc.016556",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Arm Motion - Left",
        "topic": "sprinterdev/arm-left/angle",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 280,
        "y": 880,
        "wires": [
            [
                "2a5e18ea.b37f98",
                "1d9cd91f.d67f47"
            ]
        ]
    },
    {
        "id": "8fcb8980.07c288",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "TimeStamp",
        "topic": "sprinterdev/arm-left/time",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "dd8a43a3.660e9"
            ]
        ]
    },
    {
        "id": "1d2d1703.f52689",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Rec Number",
        "topic": "sprinterdev/arm-left/recno",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "236fafaa.53aec"
            ]
        ]
    },
    {
        "id": "1d9cd91f.d67f47",
        "type": "ui_chart",
        "z": "c3d3abc.523c658",
        "name": "",
        "group": "97785468.49ba18",
        "order": 12,
        "width": "0",
        "height": "0",
        "label": "Arm Motion - Left",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "57f1c569.97fb1c",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Forefoot-strike",
        "topic": "esp8266/forefoot",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 270,
        "y": 2040,
        "wires": [
            [
                "c7027106.6cb0a",
                "44328fa8.81ab5"
            ]
        ]
    },
    {
        "id": "c7027106.6cb0a",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 2040,
        "wires": [
            [
                "b0df9440.a7f128"
            ]
        ]
    },
    {
        "id": "b0df9440.a7f128",
        "type": "join",
        "z": "c3d3abc.523c658",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 1960,
        "wires": [
            [
                "10657cd0.60df13",
                "dc53a8f9.f5cca8"
            ]
        ]
    },
    {
        "id": "10657cd0.60df13",
        "type": "debug",
        "z": "c3d3abc.523c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1900,
        "wires": []
    },
    {
        "id": "dc53a8f9.f5cca8",
        "type": "csv",
        "z": "c3d3abc.523c658",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": true,
        "include_null_values": "",
        "x": 930,
        "y": 1960,
        "wires": [
            [
                "4a6b864e.d1e7e8"
            ]
        ]
    },
    {
        "id": "2132b3da.e6d0cc",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 1980,
        "wires": [
            [
                "b0df9440.a7f128"
            ]
        ]
    },
    {
        "id": "9e7784c6.8f4b28",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 1920,
        "wires": [
            [
                "b0df9440.a7f128"
            ]
        ]
    },
    {
        "id": "d0db9edf.6d10e",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 2080,
        "wires": [
            [
                "b0df9440.a7f128"
            ]
        ]
    },
    {
        "id": "f4514776.06a2c8",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 2120,
        "wires": [
            [
                "b0df9440.a7f128",
                "6d81e015.97c53"
            ]
        ]
    },
    {
        "id": "c8239bd9.8a7c78",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Midfoot-strike",
        "topic": "esp8266/rarefooot",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 270,
        "y": 2080,
        "wires": [
            [
                "d0db9edf.6d10e",
                "2331ffb1.d3783"
            ]
        ]
    },
    {
        "id": "28a8722a.8cb89e",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Rearfoot-strike",
        "topic": "esp8266/midfoot",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 280,
        "y": 2120,
        "wires": [
            [
                "f4514776.06a2c8"
            ]
        ]
    },
    {
        "id": "bf7858c0.2809a8",
        "type": "comment",
        "z": "c3d3abc.523c658",
        "name": "Shoe footstrike (Left)",
        "info": "",
        "x": 290,
        "y": 2000,
        "wires": []
    },
    {
        "id": "44328fa8.81ab5",
        "type": "ui_chart",
        "z": "c3d3abc.523c658",
        "name": "",
        "group": "97785468.49ba18",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "shoe/forefoot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 770,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "2331ffb1.d3783",
        "type": "ui_chart",
        "z": "c3d3abc.523c658",
        "name": "",
        "group": "97785468.49ba18",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "shoe/midfoot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 770,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "6d81e015.97c53",
        "type": "ui_chart",
        "z": "c3d3abc.523c658",
        "name": "",
        "group": "97785468.49ba18",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "shoe/rearfoot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 770,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "4a6b864e.d1e7e8",
        "type": "file",
        "z": "c3d3abc.523c658",
        "name": "",
        "filename": "D:\\Code lines of blackcat\\IOT\\MQTT\\saveloc\\Strike-Left.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1260,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "37fc43.b5c253be",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Rec Number",
        "topic": "shoe/recno",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 270,
        "y": 1700,
        "wires": [
            [
                "88831c13.d0679",
                "9e7784c6.8f4b28"
            ]
        ]
    },
    {
        "id": "4bebc9e.c108b38",
        "type": "comment",
        "z": "c3d3abc.523c658",
        "name": "Shoe angle (Left)",
        "info": "",
        "x": 280,
        "y": 1660,
        "wires": []
    },
    {
        "id": "96466d26.0819",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "TimeStamp",
        "topic": "shoe/time",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 270,
        "y": 1740,
        "wires": [
            [
                "75f98b03.b26c44",
                "2132b3da.e6d0cc"
            ]
        ]
    },
    {
        "id": "bb6125.87381ed8",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Shoe-Left-Angle",
        "topic": "sprinterDev/mpu6056-left/recno",
        "qos": "0",
        "datatype": "utf8",
        "broker": "207dae44.9243b2",
        "x": 280,
        "y": 1780,
        "wires": [
            [
                "f4d6a2c4.62f4d",
                "ffea7166.b7e06"
            ]
        ]
    },
    {
        "id": "f4d6a2c4.62f4d",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 1780,
        "wires": [
            [
                "c432ae72.cc5d4"
            ]
        ]
    },
    {
        "id": "75f98b03.b26c44",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 1740,
        "wires": [
            [
                "c432ae72.cc5d4"
            ]
        ]
    },
    {
        "id": "88831c13.d0679",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 1700,
        "wires": [
            [
                "c432ae72.cc5d4"
            ]
        ]
    },
    {
        "id": "c432ae72.cc5d4",
        "type": "join",
        "z": "c3d3abc.523c658",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 1700,
        "wires": [
            [
                "d8c3a531.854fd8",
                "f07c1f97.593e8"
            ]
        ]
    },
    {
        "id": "ffea7166.b7e06",
        "type": "ui_chart",
        "z": "c3d3abc.523c658",
        "name": "",
        "group": "97785468.49ba18",
        "order": 16,
        "width": 0,
        "height": 0,
        "label": "shoe-left/angle",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 760,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "f07c1f97.593e8",
        "type": "csv",
        "z": "c3d3abc.523c658",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": true,
        "include_null_values": "",
        "x": 930,
        "y": 1700,
        "wires": [
            [
                "b010937f.5de46"
            ]
        ]
    },
    {
        "id": "b010937f.5de46",
        "type": "file",
        "z": "c3d3abc.523c658",
        "name": "",
        "filename": "D:\\Code lines of blackcat\\IOT\\MQTT\\saveloc\\Angle-Leftcsv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1260,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "d8c3a531.854fd8",
        "type": "debug",
        "z": "c3d3abc.523c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1620,
        "wires": []
    },
    {
        "id": "72f57dca.b7c514",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 1",
        "topic": "sharp",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "66330750.c68e78",
                "b402412b.3a356"
            ]
        ]
    },
    {
        "id": "f5492455.5fca98",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 3",
        "topic": "sharp2",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "6ff005fa.512eec",
                "d3223b5b.f31848"
            ]
        ]
    },
    {
        "id": "2e0f3554.384f1a",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 2",
        "topic": "sharp1",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "a031d7c0.b3f9f8",
                "d21ea198.2d7e3"
            ]
        ]
    },
    {
        "id": "6e14d76b.3742a8",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 4",
        "topic": "sharp3",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "f523c466.4dcc08",
                "cac35860.bd93b8"
            ]
        ]
    },
    {
        "id": "a031d7c0.b3f9f8",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "60fbc4c4.2dc17c"
            ]
        ]
    },
    {
        "id": "66330750.c68e78",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "60fbc4c4.2dc17c"
            ]
        ]
    },
    {
        "id": "f523c466.4dcc08",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 620,
        "wires": [
            [
                "60fbc4c4.2dc17c",
                "4e854fa9.5f013"
            ]
        ]
    },
    {
        "id": "6ff005fa.512eec",
        "type": "split",
        "z": "c3d3abc.523c658",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "60fbc4c4.2dc17c"
            ]
        ]
    },
    {
        "id": "4e854fa9.5f013",
        "type": "http request",
        "z": "c3d3abc.523c658",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b402412b.3a356",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track device sharp 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "cac35860.bd93b8",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track device sharp 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "d3223b5b.f31848",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track device sharp 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 580,
        "wires": []
    },
    {
        "id": "d21ea198.2d7e3",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track device sharp 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "60fbc4c4.2dc17c",
        "type": "join",
        "z": "c3d3abc.523c658",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "5d555be0.037a64"
            ]
        ]
    },
    {
        "id": "5d555be0.037a64",
        "type": "csv",
        "z": "c3d3abc.523c658",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": true,
        "include_null_values": "",
        "x": 930,
        "y": 460,
        "wires": [
            [
                "707e1d.3e1bf1e4"
            ]
        ]
    },
    {
        "id": "533a64dd.d68f9c",
        "type": "comment",
        "z": "c3d3abc.523c658",
        "name": "Track system",
        "info": "",
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "707e1d.3e1bf1e4",
        "type": "file",
        "z": "c3d3abc.523c658",
        "name": "",
        "filename": "D:\\Code lines of blackcat\\IOT\\MQTT\\saveloc\\Strike-Left.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1260,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d6c3930e.994a8",
        "type": "comment",
        "z": "c3d3abc.523c658",
        "name": "All devices connection status",
        "info": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "a4f05eb0.c5845",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 1",
        "topic": "sprinterdev/sharpdev1/constat",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "afb43bd1.4b7398"
            ]
        ]
    },
    {
        "id": "afb43bd1.4b7398",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sharp 1 con stat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "69e1b3ae.9c0fac",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 3",
        "topic": "sprinterdev/sharpdev3/constat",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "92bd705.41cf49"
            ]
        ]
    },
    {
        "id": "92bd705.41cf49",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sharp 3 con stat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "a28104b6.49e0f8",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Arm motions device",
        "topic": "sprinterdev/armmotion-left/constat",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "5bdaca86.7d4bf4"
            ]
        ]
    },
    {
        "id": "5bdaca86.7d4bf4",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Arm left con stat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "45462b78.f5edb4",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Smart Shoe",
        "topic": "sprinterdev/shoe-left/constat",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "e9f449ee.e75a48"
            ]
        ]
    },
    {
        "id": "e9f449ee.e75a48",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Smart shoe left con stat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "a6a13e14.7f748",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 2",
        "topic": "sprinterdev/sharpdev2/constat",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "7ad6c46b.8c515c"
            ]
        ]
    },
    {
        "id": "7ad6c46b.8c515c",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sharp 2 con stat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "859104b4.4790c8",
        "type": "mqtt in",
        "z": "c3d3abc.523c658",
        "name": "Track device sharp 4",
        "topic": "sprinterdev/sharpdev4/constat",
        "qos": "0",
        "datatype": "auto",
        "broker": "207dae44.9243b2",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "2acecdab.e81712"
            ]
        ]
    },
    {
        "id": "2acecdab.e81712",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sharp 4 con stat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "a8f34904.4f62f8",
        "type": "mqtt out",
        "z": "c3d3abc.523c658",
        "name": "",
        "topic": "devices/init",
        "qos": "0",
        "retain": "",
        "broker": "207dae44.9243b2",
        "x": 530,
        "y": 2920,
        "wires": []
    },
    {
        "id": "f3b68cd7.ec9e",
        "type": "ui_text",
        "z": "c3d3abc.523c658",
        "group": "97785468.49ba18",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Arm motions left",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 560,
        "y": 2860,
        "wires": []
    },
    {
        "id": "5882c151.5d4b5",
        "type": "debug",
        "z": "c3d3abc.523c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 2800,
        "wires": []
    },
    {
        "id": "77190fb8.e3165",
        "type": "ui_switch",
        "z": "c3d3abc.523c658",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "97785468.49ba18",
        "order": 17,
        "width": "6",
        "height": "4",
        "passthru": true,
        "decouple": "false",
        "topic": "devices/init",
        "style": "",
        "onvalue": "yes",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 2840,
        "wires": [
            [
                "a8f34904.4f62f8",
                "5882c151.5d4b5",
                "f3b68cd7.ec9e"
            ]
        ]
    }
]